
/* Стилове за контейнера със съобщенията */
.massage-done {
    display: flex;
    justify-content: center; /* Центриране на съдържанието по хоризонтала */
    height: 100vh; /* Заетост на цялата височина на екрана */
}

/* Стилове за контейнер с грешка */
.error-message {
    background-color: rgba(220, 56, 56, 0); /* Цвят на фона за грешка */
    padding: 20px; /* Отстъп от съдържанието */
    border-radius: 8px; /* Закръгляне на ръбовете */
}

/* Стилове за текста за грешка */
.error-text {
    color: #1bff1f; /* Цвят на текста */
    font-size: 16px; /* Големина на шрифта */
}

/* Стилове за контейнер с успех */
.success-message {
    background-color: rgba(0, 171, 70, 0); /* Цвят на фона за успех */
    padding: 20px; /* Отстъп от съдържанието */
    border-radius: 8px; /* Закръгляне на ръбовете */
}

/* Стилове за текста за успех */
.success-text {
    color: rgb(27, 253, 31); /* Цвят на текста */
    font-size: 16px; /* Големина на шрифта */
}
